<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/webApp/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/webApp/css/style.css">
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css">
        {{script_plot_1|safe}}

    </head>
    
    <body >
        <ul class="">
          <li><a href="../index/" style="color: white">Pagina Principal</a>
          </li>              
        </ul>
        <br>
        <br>
        <center><img src="/static/webApp/img/bdf.jpg" alt="" style="width:600px;height:200px;"></center>
        <div class="container">
            <center><h1>Entidades Financieras</h1></center>

            <center><h3>En esta grafica se visualizan la tendencia que se puede presentar con las tarjetas de credito en estado cancelado teniendo en cuenta la tasa de desempleo que se pueda presentrar, podemos identificar que las tarjetas de credito no representan un cambio significativo teniendo en cuenta que la tasa de desempleo si tuvo un cambio representativo en los ultimos años.</h3></center>

            <center><section class="tm-section">
              <div class="container-fluid">
                {{div_plot_1|safe}}
              </div>
            </section>
            </center>

        
    </body>
</html>