<html lang="es">
	<head>
        <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
    </head>
	
	<body >
        <ul class="">
          <li><a href="formulario.html" style="color: white"><span class="glyphicon glyphicon-user"></span>   Formulario Solicitud de Informes BDF</a>
          </li>

          <li><a href="resultado.html" style="color: white"><span class="glyphicon glyphicon-user"></span>   Informe de Datos BDF</a>
          </li>
              
            </ul>
        <br>
        <br>
        <center><img src="bdf.jpg" alt="Italian Trulli" style="width:600px;height:200px;"></center>
        <div class="container">
            <center><h1>Formulario Big Data Finance</h1></center>
            <form class="form-horizontal" method="POST" action="resultado.html" autocomplete="off">                       
                                <div class="form-group">
                                <label for=>Tipo de Informe</label>
                                <div class="col-md-15">
                                <select class="form-control-input" name="tipo" id="tipo" style="width:230px;" required="required">
                                    <option value="">---------</option>
                                    <option value="Prueba">Tendencias</option>                                   
                                </select>
                                </div>
                                </div>                       

                        
                                <div class="form-group">
                                <label for=>Tiempo de Estudio</label>
                                <div class="col-md-15">
                                <select class="form-control-input" name="tiempo" id="tiempo" style="width:230px;" required="required">
                                    <option value="">---------</option>
                                    <option value="Prueba">1 Año</option> 
                                    <option value="Prueba">2 Año</option> 
                                    <option value="Prueba">3 Año</option> 
                                    <option value="Prueba">4 Año</option> 
                                    <option value="Prueba">5 Año</option>                                    
                                    <option value="Prueba">6 Año</option> 
                                    <option value="Prueba">7 Año</option> 
                                    <option value="Prueba">8 Año</option> 
                                    <option value="Prueba">9 Año</option>
                                    <option value="Prueba">10 Año</option>  


                                </select>
                                </div>
                                </div>
                                

                        <br></br>

                       
                                <div class="form-group">
                                    <div class="col-md-50">                                    
                                    <input type="checkbox" name="periodo" id="l1" value=""/>
                                    <label for="l1">Consumo</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l2" value=""/>
                                    <label for="l2">Cupo Disponible</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Comportamiento de Pago</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Estado de Tarjeta</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Cantidad de Tarjetas Expedidas</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Cantidad de Tarjetas Bloqueadas Temporalmente</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Cantidad de Tarjetas Canceladas</label>
                                    <br>                                    
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Tasa de Empleo</label>
                                    <br>
                                    <input type="checkbox" name="periodo" id="l3" value="" />
                                    <label for="l3">Tasa de Desempleo</label>
                                    </div>
                                </div>
                    <br></br>

                        <div class="form-group">
                        <label class="col-md-7 control-label">Observaciones</label>
                        <div class="col-md-20"> 
                        <input type="text" class="form-control input-sm" id="detalle" name="detalle" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        </div>

                    <br></br>
                
                
                    <div class="form-group">
                    <div class="col-sm-offset-30 col-sm-40">
                        <button type="submit" class="btn btn-primary">Solicitar</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>