<!DOCTYPE html> 
<html lang="es">
<head>
    <link rel="stylesheet" href="/static/webApp/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/webApp/css/style.css">
</head>

<nav id="navbar-auto-hidden">
        <div class="row hidden-xs">
            <div class="col-xs-4">
                <figure class="logo"></figure>
                <p class="text-navbar tittles-pages-logo">BigData</p>
            </div>
            <div class="col-xs-8">
                <div class="contenedor-tabla pull-right">
                    <div class="contenedor-tr">
                        <a href="../analistas/" class="table-cell-td">Analistas Financieros</a>
                        <a href="../entidades/" class="table-cell-td">Entidades Financieras</a>
                        <a href="../comercializadoras/" class="table-cell-td">Comercializadoras</a>
                        <a href="../provedores/" class="table-cell-td">Provedores de Servicio</a>
                        <a href="../modelo/" class="table-cell-td">Modelo de Negocio</a>
                        <a href="../acerca/" class="table-cell-td">Acerca de</a>
                        <a href="../login/" class="table-cell-td">Salir</a>
                    </div>
                </div>
            </div>
        </div>
</nav>

<br>

<body id="container-page-">
    <div class="jumbotron" id="jumbotron-index">
      <h1><span class="tittles-pages-logo">BigData</span> <small style="color:;">Finance</small></h1>
    </div>

    <br></br>

<div style="text-align: center;"
    align="right">
    <img src="/static/webApp/img/ini.jpg" style="width:1400px;height:300px;">
    <img src="/static/webApp/img/img1.jpg" style="width:600px;height:350px;">
    <img src="/static/webApp/img/img2.jpg" style="width:600px;height:350px;">

</div>
    <h1>Proyecto <small>Diplomado</small></h1>
 </body>

</html>